<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purple.mnt.mapper.MssHealthMapper" >

    <resultMap type="purple.mnt.model.MssHealth" id="BaseResultMap">
        <result property="id" column="id" jdbcType="VARCHAR" />
        <result property="status" column="status" jdbcType="VARCHAR" />
        <result property="creator_id" column="creator_id" jdbcType="VARCHAR" />
        <result property="app_name" column="app_name" jdbcType="VARCHAR" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
        <result property="create_time" column="create_time" jdbcType="DATE"/>
        <result property="modify_time" column="modify_time" jdbcType="DATE"/>
    </resultMap>
    <sql id="Tabel_Name">
        mss_health
    </sql>

    <sql id="Base_Column_List" >
        id, status, create_time, creator_id, modify_time, modifier_id, app_name, remark
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        <include refid="Tabel_Name" />
    </select>


    <select id="getSingle" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM
        <include refid="Tabel_Name" />
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="purple.mnt.model.MssHealth" >
        INSERT INTO
        <include refid="Tabel_Name" />
        (id,name,age,address)
        VALUES
        (#{id},#{name}, #{age}, #{address})
    </insert>



</mapper>